<form [formGroup]="exchangeRateForm">
  <div class="currency">
    <input
      type="text"
      formControlName="firstCurrencyRate"
      (input)="firstCurrencyRateChange$.next($event)"
    >
  
    <select
      formControlName="firstCurrencyName"
      (change)="firstCurrencyNameChange$.next($event)"
    >
      @for (curr of currencies; track curr) {
        <option [value]="curr">{{ curr }}</option>
      }
    </select>

    @if (exchangeRateForm.get('firstCurrencyRate')?.hasError('required')) {
      <div class="error">Required</div>
    } @else if (exchangeRateForm.get('firstCurrencyRate')?.hasError('nonNumeric')) {
      <div class="error">Wrong format</div>
    } 
  </div>
  
  <div class="currency">
    <input
      type="text"
      formControlName="secondCurrencyRate"
      (input)="secondCurrencyRateChange$.next($event)"
    >
    <select
      formControlName="secondCurrencyName"
      (change)="secondCurrencyNameChange$.next($event)"
    >
      @for (curr of currencies; track curr) {
        <option [value]="curr">{{ curr }}</option>
      }
    </select>
  
    @if (exchangeRateForm.get('secondCurrencyRate')?.hasError('required')) {
      <div class="error">Required</div>
    } @else if (exchangeRateForm.get('secondCurrencyRate')?.hasError('nonNumeric')) {
      <div class="error">Wrong format</div>
    }
  </div>
</form>