<form [formGroup]="firstCurrencyForm" class="currency">
  <input
    controlError
    type="text"
    formControlName="firstCurrencyRate"
  >

  <select
    formControlName="firstCurrencyName"
  >
    @for (curr of currencies; track curr) {
      <option [value]="curr">{{ curr }}</option>
    }
  </select>
</form>

<form [formGroup]="secondCurrencyForm" class="currency">
  <input
    controlError
    type="text"
    formControlName="secondCurrencyRate"
  >
  <select
    formControlName="secondCurrencyName"
  >
    @for (curr of currencies; track curr) {
      <option [value]="curr">{{ curr }}</option>
    }
  </select>
</form>